@font-face {
    font-family: JuneBug;
    src: url(fonts/BryndanWriteBook-nGPM.ttf) format('truetype');
}

/* Impostazione font per l'intero documento */
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 18px;
    background-color: #f5eede;
    color: #e2017a;
}

h1 {
    font-family: JuneBug;
    font-size: 100px;
    text-align: center;
    margin: 0;
}

h2 {
    font-family: JuneBug;
    font-size: 50px;
    margin: 0;
}

h3 {
    font-family: JuneBug;
    font-size: 40px;
    margin: 0;
}

h4 {
    font-family: JuneBug;
    font-size: 30px;
    margin: 0;
    font-weight: 100;
}

p {
    margin: 0;
}

/* Container per centrare il contenuto */
.container {
    max-width: calc(1024px - 4vw);
    margin: auto;
    padding: 2vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.containerC {
    margin: auto;
    padding: 2vw;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.containerR {
    margin: auto;
    padding: 2vw;
    margin: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.containerH {
    margin: auto;
    padding: 2vw;
    margin: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.containerF {
    background-color: #fac7cc;
    color: #960e58;
    border-radius: 5vw;
    padding: 2vw;
    margin: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.sezione1 {
    padding: 3%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #fac7cc;
    color: #960e58;
    border-radius: 38px;
}

.sezione2 {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 32px;
    margin: 0;
    background-color: #fac7cc;
    color: #960e58;
    border-radius: 38px;
    width: calc(30% - 64px);
}

.colonna1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.riga1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    align-items: flex-start;
}

.division10 {
    width: 100%;
    height: 10vh;
}

.division5 {
    width: 100%;
    height: 5vh;
}

/* Quando lo schermo � inferiore a 782px, max-width diventa 560px */
@media (max-width: 1024px) {
    .container {
        max-width: calc(782 - 4vw);
    }
}
@media (max-width: 782px) {
    .container {
        max-width: calc(640px - 4vw);
    }

    .containerR {
        align-items: center;
        flex-direction: column;
    }
    
    .sezione2 {
        width: calc(100% - 64px);
        margin-bottom: 32px;
    }

    .riga1 {
        flex-direction: column;
        width: 100%;
    }

    .colonna1 {
        width: 100%;
    }
}
@media (max-width: 640px) {
    .container {
        max-width: calc(560px - 4vw);
    }
}

.logo img {
    height: 100px;
}

/* Stile del menu di navigazione */
nav {
    position: relative;
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
 }

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #e2017a;
    text-decoration: none;
    font-size: 24px;
    padding: 8px 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li b {
    color: #e2017a;
    text-decoration: none;
    font-size: 24px;
    padding: 8px 16px;
}

nav ul li b:hover {
    text-decoration: underline;
}

/* Hamburger menu per dispositivi mobili */
.hamburger {
    display: none;
    font-size: 30px;
    color: #e2017a;
    cursor: pointer;
}

.menu {
    padding: 0;
}

#menu-toggle {
    display: none;
}

@media (max-width: 560px) {
    /* Nascondi il menu normale e mostra l'hamburger */
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #f5eede;
        position: absolute;
        top: 60px;
        right: 0;
        border-bottom: 5px solid #e2017a;
        border-left: 5px solid #e2017a;
        border-right: 5px solid #e2017a;
        border-radius: 0px 0px 20px 20px; /* Arrotonda i bordi del menu */
        box-shadow: 0 4px 0px rgba(0, 0, 0, 0.1); /* Aggiungi un'ombra se vuoi dare profondit� */
    }

        nav ul li {
            margin: 10px 0;
            text-align: center;
        }

    .hamburger {
        display: block;
    }

    /* Mostra il menu quando l'hamburger � cliccato */
    #menu-toggle:checked + .hamburger + .menu {
        display: flex;
    }
}

.quote {
    border-left: 6px solid #960e58;
    color: #960e58;
    text-align: left;
    width: 70%;
    margin: auto;
    padding-left: 3%;
    font-weight: bold;
}

/* Stile delle icone social */
.fa {
    background-color: #fac7cc;
    color: #e2017a;
    padding: 10px;
    margin: 10px;
    font-size: 25px !important;
    width: 25px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

/* Add a hover effect if you want */
.fa:hover {
    background-color: #e2017a;
    color: #fac7cc;
}

/* Stile del footer aggiornato */
footer {
    background-color: #e2017a;
    color: #fac7cc;
    text-align: center;
}