.header {
  overflow: hidden;
  background-color: #FFFFFF;
  width: 100%;
}

.logo {
  float: left;
  height: 10%;
  padding: 30px;
  font-size: 50px;
  font-weight: bold;
  cursor: default;
}

.header-right {
  float: right;
}

body {
  background-color: #FFEDDB;
  font-family: "Arvo", serif;
  text-align: center;
  font-size: 35px;
  margin: 0px;
  padding: 0px;
}

h1{
  padding: 10px 200px;
  font-family: "Arvo", serif;
  font-size: 55px;
}

p {
  padding: 10px 200px;
  font-family: "Arvo", serif;
  font-size: 35px;
}

button {
  font-family: "Arvo", serif;
  font-size: 30px;
  font-weight: bold;
  border: none;
  transition-duration: 0.4s;
}

button.active{
  padding: 45px;
  background-color:#FFEDDB;
  box-shadow: 0 5px 10px 0 #808080, 0 10px 10px 0 #808080;
}

button:hover {
  background-color: #FFEDDB;
  box-shadow: 0 5px 10px 0 #808080, 0 10px 10px 0 #808080;
}

.bottoneheader{
  background-color: #FFFFFF;
  padding: 45px;
}

.bottoneheader:hover{
  cursor: pointer;
}

.bottoneinizio{
  padding: 20px 100px;
  border-radius: 20px;
  font-size: 35px;
  color: #FFEDDB;
  background-color: #FFAB73;
}

.bottoneinizio:hover{
  color: #FFAB73;
  cursor: pointer;
}

.bottonerispsx{
  padding: 20px 100px;
  border-radius: 20px;
  font-size: 35px;
  color: #FFEDDB;
  background-color: #A8B442;
}

.bottonerispsx:hover{
  color: #A8B442;
  cursor: pointer;
}

.bottonerispdx{
  padding: 20px 100px;
  border-radius: 20px;
  font-size: 35px;
  color: #FFEDDB;
  background-color: #827AED;
}

.bottonerispdx:hover{
  color: #827AED;
  cursor: pointer;
}

.puntovuoto{
  margin: 10px 10px;
  height: 35px;
  width: 35px;
  border-style: solid;
  background-color: #FFEDDB;
  border-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
}

.puntovuoto:hover {
  box-shadow: none;
}

.puntopieno{
  margin: 10px 10px;
  height: 35px;
  width: 35px;
  border-style: solid;
  background-color: #FFAB73;
  border-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
}

.puntopieno:hover {
  cursor: pointer;
}