.header {
  color: #1F2421;
  overflow: hidden;
  background-color: #9CC5A1;
  width: 100%;
}

.logo {
  float: left;
  height: 10%;
  padding: 30px;
  font-size: 50px;
  font-weight: bold;
  cursor: default;
}

.header-right {
  float: right;
}

body {
  background-color: #1F2421;
  font-family: 'Arvo', serif;
  color: #FFFFFF;
  text-align: center;
  font-size: 35px;
  margin: 0px;
  padding: 0px;
}

h1{
  padding: 10px 200px;
  font-family: 'Arvo', serif;
  font-size: 55px;
}

p {
  padding: 10px 200px;
  font-family: 'Arvo', serif;
  font-size: 35px;
}

button {
  font-family: 'Arvo', serif;
  font-size: 30px;
  font-weight: bold;
  border: none;
  transition-duration: 0.4s;
}

button.active{
  padding: 45px;
  background-color:#DCE1DE;
  box-shadow: 0 5px 5px 0 #808080, 0 5px 5px 0 #808080;
}

button:hover {
  color: #1F2421;
  background-color:#FFFFFF;
  box-shadow: 0 5px 5px 0 #808080, 0 5px 5px 0 #808080;
}

.bottoneheader{
  color: #DCE1DE;
  background-color: #9CC5A1;
  padding: 45px;
}

.bottoneheader:hover{
  cursor: pointer;
}

.bottoneinizio{
  padding: 20px 100px;
  border-radius: 20px;
  font-size: 35px;
  color: #FFFFFF;
  background-color: #9CC5A1;
}

.bottoneinizio:hover{
  color: #3ab454;
  cursor: pointer;
}

.bottonerispsx{
  padding: 20px 20px;
  width: 300px;
  height: 300px;
  margin-right: 10px;
  border-radius: 20px;
  font-size: 35px;
  vertical-align: middle;
  color: #000000;
  background-color: #DCE1DE;
}

.bottonerispsx:hover{
  color: #7EBDC3;
  cursor: pointer;
}

.bottonerispdx{
  padding: 20px 20px;
  width: 300px;
  height: 300px;
  margin-left: 10px;
  border-radius: 20px;
  font-size: 35px;
  vertical-align: middle;
  color: #000000;
  background-color: #DCE1DE;
}

.bottonerispdx:hover{
  color: #7A6263;
  cursor: pointer;
}

.puntovuoto{
  margin: 10px 10px;
  height: 35px;
  width: 35px;
  background-color: #DCE1DE;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
}

.puntovuoto:hover {
  box-shadow: none;
}

.puntopieno{
  margin: 10px 10px;
  height: 35px;
  width: 35px;
  border: none;
  background-color: #9CC5A1;
  border-style: solid;
  border-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
}

.puntopieno:hover {
  cursor: pointer;
  background-color: #DCE1DE;
  border-color: #FFFFFF;
}