/* Font settings */
@font-face {
    font-family: JuneBug;
    src: url(fonts/BryndanWriteBook-nGPM.ttf) format('truetype');
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 18px;
    background-color: #f5eede;
    color: #e2017a;
}

h1 {
    font-family: JuneBug;
    font-size: 70px;
    text-align: center;
    padding: 16px;
}

h2 {
    font-family: JuneBug;
    font-size: 50px;
    text-align: center;
    padding: 16px;
}

h3 {
    font-family: JuneBug;
    font-size: 40px;
    text-align: center;
    padding: 16px;
}

h4 {
    font-family: JuneBug;
    font-size: 25px;
    text-align: center;
    font-weight: 100;
    padding: 16px;
}

p {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Header Menu */
nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
}

nav ul li a {
    color: #e2017a;
    text-decoration: none;
    font-size: 24px;
    padding: 16px;
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li b {
    color: #e2017a;
    text-decoration: none;
    font-size: 24px;
    padding: 16px;
}

nav ul li b:hover {
    text-decoration: underline;
}

.hamburger {
    display: none;
    font-size: 40px;
    color: #e2017a;
    cursor: pointer;
    padding: 30px;
    border-radius: 32px 32px 0px 0px;
}

.hamburger div {
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: #e2017a;
    transition: all 0.3s ease;
}

.menu {
    padding: 0;
}

#menu-toggle {
    display: none;
}

/* Containers */
.container {
    max-width: 1024px;
    margin: auto;
}

.containerC {
    padding: 16px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.containerR {
    padding: 16px;
    margin: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.containerH {
    max-width: 1024px;
    margin: auto;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.containerF {
    padding: 16px;
    margin: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}

.containerB {
    background-color: #fac7cc;
    color: #960e58;
    border-radius: 32px;
    padding: 16px;
    margin: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.division32 {
    width: 100%;
    height: 32px;
}

.button {
    background-color: #e2017a;
    color: #f5eede;
    padding: 16px;
    margin: 16px;
    font-family: JuneBug;
    font-size: 25px;
    font-weight: 100;
    border-radius: 32px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

/* Add a hover effect if you want */
.button:hover {
    background-color: #f5eede;
    color: #e2017a;
}

/* Quando lo schermo � inferiore a 782px, max-width diventa 560px */
@media (max-width: 1024px) {
    .container {
        max-width: 782px;
    }

    .containerH {
        max-width: 782px;
    }
}
@media (max-width: 782px) {
    .container {
        max-width: 640px;
    }

    .containerH {
        max-width: 640px;
        align-items: flex-start;
    }

    .containerR {
        align-items: center;
        flex-direction: column;
    }

    .containerF {
        align-items: center;
        flex-direction: column;
    }

    /* Nascondi il menu normale e mostra l'hamburger */
    nav ul {
        max-height: 0; /* Altezza iniziale 0 */
        overflow: hidden; /* Nascondi il contenuto che esce fuori */
        flex-direction: column;
        background-color: #f5eede;
        top: 60px;
        right: 0;
        border-radius: 0px 0px 20px 20px; /* Arrotonda i bordi del menu */
        box-shadow: 0 4px 0px rgba(0, 0, 0, 0.1); /* Aggiungi un'ombra se vuoi dare profondit� */
        transition: max-height 1s ease-out; /* Transizione di 0.5s per l'opacità */
    }

    nav ul li {
        margin: 16px 0;
        text-align: center;
    }

    .hamburger {
        display: flex;
        flex-direction: column;
    }

    /* Trasformazioni quando il checkbox è attivato */
    #menu-toggle:checked + .hamburger .bar1 {
        transform: rotate(-45deg) translate(-9px, 9px);
    }

    #menu-toggle:checked + .hamburger .bar2 {
        opacity: 0; /* Nasconde la barra centrale */
    }

    #menu-toggle:checked + .hamburger .bar3 {
        transform: rotate(45deg) translate(-9px, -9px);
    }

    #menu-toggle:checked + .hamburger + .menu {
        display: flex;
        max-height: 300px; /* Altezza iniziale 0 */
    }
}
@media (max-width: 640px) {
    .container .containerH {
        max-width: 560px;
    }

    .containerH {
        max-width: 560px;
    }
}

.logo img {
    height: 100px;
}

/* Stile delle icone social */
.fa {
    background-color: #fac7cc;
    color: #e2017a;
    padding: 10px;
    margin: 10px;
    font-size: 25px !important;
    width: 25px;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}

/* Add a hover effect if you want */
.fa:hover {
    background-color: #e2017a;
    color: #fac7cc;
}

/* Stile del footer aggiornato */
footer {
    background-color: #e2017a;
    color: #fac7cc;
    text-align: center;
}
